[submodule "Plugins/IdleGame"]
	path = Plugins/IdleGame
	url = https://github.com/BasileVieu/UE5IdleGame.git
[submodule "Plugins/GlyphWeaver"]
	path = Plugins/GlyphWeaver
	url = https://github.com/BasileVieu/UE5GlyphWeaver.git
